.todoItem {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin: 0;
  border-bottom: 1px solid var(--foreground-secondary);
}

.delete {
  font-size: 1.5rem;
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
  color: var(--accent);
}
